<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Header Template</title>
</head>
<body>
	<div th:fragment="header">
		<div class="header">
			<div id="btnMenu" class="menuIcon awesome bold" th:if="${showMenu == true}">&#xf0c9;</div>
			<div class="headerMenu" th:if="${showMenu == true}">
				<span>[[${headerUser}]]</span>
				<span id="btnSignOutHeader" class="awesome bold signout" th:title="${application_header_signout}">&#xf2f5;</span>
			</div>
			<div id="spinner" class="spinner hidden"></div>
		</div>
	</div>
</body>
</html>
